body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212020;
}
/* Contenedor para las aspas */
.container {
    width: 7em;
    height: 7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
/* Ejecutar la animacion al hacer hover */
.container:hover {
    animation: rotate 2s linear infinite;
}
/* Tamaño de las aspas */
.aspa {
    margin: 0.1em 0.1em;
    height: 3em;
    width: 3em;
}
/* Bordes para generar el efecto de una punta al centro */
.border-izq {
    border-radius: 9999px 9999px 9999px 0;
}

.border-der {
    border-radius: 9999px 9999px 0 9999px;
}

.border-upRight {
    border-radius: 9999px 0 9999px 9999px;
}

.border-upLeft {
    border-radius: 0 9999px 9999px 9999px;
}

/* Colores de las aspas */

.bg-yellow {
    background: yellow;
}

.bg-pink {
    background: #f83c53;
}

.bg-purple {
    background: #963efc;
}

.bg-orange {
    background: #f45236;
}

/* Animacion de rotacion */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}