@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Uncial+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

:root {
  --card-height: 500px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #191c29;  */
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 50px;
  overflow: hidden;
  border-radius: 20px;
  border: 10px solid black;
  -webkit-box-shadow: 13px 24px 36px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 13px 24px 36px 7px rgba(0, 0, 0, 0.7);
  box-shadow: 13px 24px 36px 7px rgba(0, 0, 0, 0.7);
}

.card__cost {
  position: absolute;
  top: 10px;
  left: 10px;
  /* background: rgba(0, 0, 0, 0.5); */
  background: rgba(166, 143, 104, 0.4); /* añadir a parte */
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-size: 2em;
  z-index: 4;
}

.card__cost--light {
  
}

.card__image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 2s ease-in-out;
  transform-origin: top; /* hacerlo en otra clase */
  z-index: -1;
}

.card:hover .card__image {
  transform: scale(1.2);
}

.card__body,
.card__footer {
  position: absolute;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  /* background: rgba(0, 0, 0, 0.5);  */
  background: rgba(166, 143, 104, 0.8);/* añadir a parte para diferentes cartas */
  /* backdrop-filter: blur(5px); */
  transition: all 0.4s cubic-bezier(0.47, 0, 0.75, 0.72);;
  transform: translateY(100%);
  opacity: 0;
}

.card__body {
  padding: 10px;
  margin-bottom: 50px;
  border: 2px solid #ffeeca;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
  border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
}

.card__title {
  margin: 5px 0 0 0;
  font-family: "Uncial Antiqua", cursive;
  font-size: 1.2em;
  font-weight: 500;
}
.card__subtitle {
  margin: 15px 0 0 0;
  font-family: "Cinzel", serif;
  font-size: 0.7em;
  font-style: italic;
  /* font-weight: 100; */
}

.card__copy {
  font-family: "IM Fell English", serif;
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

.card__footer {
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  font-family: "MedievalSharp", cursive;
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.card:hover .card__body,
.card:hover .card__footer {
  transform: translateY(0);
  opacity: 1; /* Hacer visible el contenido */
}
