@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Uncial+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

:root {
  --card-height: 500px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #191c29; */
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 50px;
  overflow: hidden;
  border-radius: 20px;
  border: 10px solid black;
  perspective: 1000px;
  transition: transform 0.1s ease-out;
  -webkit-box-shadow: 13px 24px 36px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 13px 24px 36px 7px rgba(0, 0, 0, 0.7);
  box-shadow: 13px 24px 36px 7px rgba(0, 0, 0, 0.7);
}

.card__image {
  /* position: absolute; */
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: -1;
}

.card__body,
.card__footer {
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
  backdrop-filter: blur(10px); /* Efecto de blur */
  transition: all 0.4s ease;
  transform: translateY(100%);
  opacity: 0;
}

.card__body {
  padding: 10px;
}

.card__title {
  /* margin: 5px 0 0 5px; */
  font-family: "Cinzel", serif;
  font-size: 1.2em;
  font-weight: bold;
}
.card__subtitle {
  /* margin: 10px 0 0 5px; */
  font-family: "Uncial Antiqua", cursive;
  font-size: 0.7em; /* Ajusta el tamaño según sea necesario */
}

.card__copy {
  font-family: "IM Fell English", serif;
  font-size: 1.2em; /* Ajusta el tamaño según sea necesario */
  line-height: 1.5; /* Mejora la legibilidad */
}

.card__footer {
  height: 50px;
  background: rgba(0, 0, 0, 0.4); /* Un poco más claro que el body */
  font-family: "MedievalSharp", cursive;
  font-size: 1.5em; /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card:hover .card__image {
  transform: scale(1.1);
}

.card:hover .card__body,
.card:hover .card__footer {
  transform: translateY(0);
  opacity: 1; /* Hacer visible el contenido */
}
