* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

header {
    height: 25%;
    margin: 0;
    display: unset;
}

.header__title {
    position: relative;
    left: 25px;
}

.header__menu {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    height: 10%;
    padding: 10px;
    background-color: lightgray;
    list-style: none;
    top: 0;
    position: sticky;
}

main {
    height: 100%;
}

.main__wrapper {
    background-color: #add8e6;
    height: 20%;
    margin: 20px;
    position: relative;
    z-index: -1;
}

.main__wrapper--80h {
    height: 80%;
}

.section__cuadrado {
    height: 50px;
    width: 50px;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: greenyellow;
}

.section__cuadrado--absolute {
    position: absolute;
    left: 10%;
    top: 20%;
}

.section__cuadrado--relative {
    position: relative;
    left: 11%;
    top: 10%;
}

.section__brown {
    height: 100%;
    width: 100%;
    background-color: #deb887;
}

.footer__menu {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    height: 10%;
    padding: 20px;
    background-color: lightgray;
    list-style: none;
}

