main {
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .welcome-section {
    width: 50%;
    margin: 2rem auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid var(--color-texto);
    border-radius: 50px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .welcome-title {
      text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
        -2px 2px 0 #000;
      font-family: var(--font-titulos);
      font-size: 4rem;
      color: var(--color-primario);
      text-align: center;
      font-weight: bold;
    }
    .welcome-slogan {
      font-family: var(--font-cuerpo);
      font-size: 2rem;
      color: var(--color-secundario);
      text-align: center;
      font-weight: 600;
    }
    .welcome-description {
      font-family: var(--font-cuerpo);
      font-size: 1.5rem;
      color: var(--color-texto);
      text-align: center;
      font-weight: 500;
    }
  }
  .why-use-section {
    width: 100%;
    height: 200vh;
    background-color: var(--color-fondo);
    border-radius: 50px 50px 0 0;
    border: 2px solid var(--color-texto);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .why-use-title {
      font-family: var(--font-titulos);
      font-size: 4rem;
      color: var(--color-primario);
      text-align: center;
      font-weight: bold;
    }
    .why-use-content {
      margin: 4rem auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .why-use-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 60%;
        .why-use-item {
          font-family: var(--font-cuerpo);
          font-size: 1.5rem;
          font-weight: 500;
          color: var(--color-texto);
        }
      }
      .why-use-image {
        width: 40%;
        height: auto;
        object-fit: cover;
        margin-left: auto;
        border-radius: 10px;
        border: 2px solid var(--color-texto);
      }
    }
  }
}
