body {
    background-color: var(--color-neutral);
}
.filters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #000;
  border-bottom: 3px solid #000;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
background-color: #ffffff;
  .filter-select {
    margin: 0 10px;
    color: var(--color-primario);
    border: 2px solid #00000000;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:hover {
      border: 2px solid var(--color-primario);
      color: var(--color-texto);
    }

    &:focus {
      outline: none;
      color: var(--color-texto);
      box-shadow: 0 0 5px var(--color-primario);
    }

    option {
      color: var(--color-primario);
    }
  }
}
.recipe-container {
    width: 90%;
    border-radius: 50px;
    border: 5px solid #000;
    margin: 20px auto;
    background-color: #ffffff;
    margin-bottom: 100px;
    padding-bottom: 20px;
    .recetas-grid {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        justify-items: center;
        padding: 2rem;
        .receta-card {
          width: 300px;
          height: 400px;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          background-color: #ffffff;
          transition: transform 0.3s;
          padding: 0 0 1rem 0;
          .receta-img {
            width: 100%;
            height: 60%;
            border-radius: 10px 10px 0 0;
            background-size: cover;
            background-position: center;
          }
    
          .receta-title {
            font-family: var(--font-titulos);
            font-size: var(--h4);
            font-weight: var(--font-titulos-bold);
            color: var(--color-primario);
            text-align: center;
          }
    
          .receta-description {
            font-family: var(--font-cuerpo);
            font-size: var(--texto-base);
            color: var(--color-texto);
            text-align: center;
          }
          .receta-button {
            border: 2px solid var(--color-secundario);
            color: var(--color-secundario);
            background-color: transparent;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: var(--texto-base);
            font-family: var(--font-cuerpo);
            font-weight: var(--font-cuerpo-medium);
            text-decoration: none;
            transition: background-color 0.3s, color 0.3s;
    
            &:hover {
              background-color: var(--color-secundario);
              color: #ffffff;
            }
          }
        }
        .receta-card:hover {
          transform: scale(1.05);
        }
      }
}