* {
    box-sizing: border-box;
}
.container {
    height: 200px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    border: 2px solid black;
    padding: 5px;
    justify-content: flex-start;
}

.grid {
    background-color: #6f42c1;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
}